{% assign eyebrow_menu = linklists['eyebrow-navigation'] %}

{% if eyebrow_menu.links.size > 0 %}
<div class="eyebrow-nav">
  <div class="page-width">
    {% for link in eyebrow_menu.links %}
      <a
        href="{{ link.url }}"
        class="{% if request.host contains link.url | remove: 'https://' | remove: 'http://' | split: '/' | first %}active{% endif %}">
        {{ link.title }}
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}