<div class="w-full pr-6 sticky top-[calc(100%-58px)] pointer-events-none flex justify-end">
  <button type="button" 
    class="pointer-events-auto"
    aria-label="{{ 'general.scroll_to_top' }}"
    data-scroll-to-top
    >
    {% render 'icons', icon: 'scroll_to_top' %}
  </button>
</div>
