{{ text 
  | replace: '&lt;|', '<span class="!text-yellow yellow-text">' 
  | replace: '|&gt;', '</span>'
  | replace: '<|', '<span class="!text-yellow yellow-text">' 
  | replace: '|>', '</span>'  
}}
