<div class="relative border-t border-solid border-t-grey-medium max-w-maxscreen lg:mx-auto px-4 mt-12 mx-4">
  <div class="absolute left-1/2 top-[-50vh] h-[150vh] w-screen -translate-x-1/2 origin-center pointer-events-none z-[-1] long-page-gradient-2"></div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.border_with_gradient.name",
  "presets": [
    {
      "name": "t:settings_schema.sections.border_with_gradient.name"
    }
  ]
}
{% endschema %}
