<div class="flex">
  <div>example</div>
  <div>&nbsp;</div>
  <div>section</div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.example.name",
  "tag": "section",
  "presets": [
    {
      "name": "t:settings_schema.sections.example.name"
    }
  ]
}
{% endschema %}
