<div class="page-content-wrapper w-full {% unless page.handle contains 'privacy' %}mt-[80px] lg:mt-[100px] py-4{% endunless %}">
  <div class="page-content-inner max-w-maxscreen mx-auto rounded-image bg-white mb-8">
    <style>
      .page-content-wrapper {
        max-width: 100vw !important;
        overflow-x: hidden !important;
      }
      
      .page-content-inner {
        overflow-x: visible !important;
      }
      
      figure.table {
        display: block !important;
        width: calc(100% + 2rem) !important;
        overflow-x: auto !important;
        overflow-y: visible !important;
        -webkit-overflow-scrolling: touch !important;
        margin: 1.5rem 0 1.5rem -1rem !important;
      }
      
      figure.table table {
        width: auto !important;
        min-width: 100% !important;
        display: table !important;
      }
      
      .page-content-text {
        overflow-x: visible !important;
      }
      
      /* Force scrollable container on mobile */
      @media (max-width: 1023px) {
        .page-content-inner {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        
        figure.table {
          padding-left: 1rem !important;
          padding-right: 1rem !important;
          max-width: 100vw !important;
        }
        
        figure.table table {
          min-width: 600px !important; /* Force table to be wider than mobile viewport */
        }
      }
    </style>
    <div class="page-content-text
      font-light
      text-body-mob
      lg:text-body
      [&_h1]:text-h1-mob
      [&_h1]:lg:text-h1
      [&_h2]:text-h2-mob
      [&_h2]:lg:text-h2
      [&_h3]:text-h3-mob
      [&_h3]:lg:text-h3
      [&_h4]:text-h3-mob
      [&_h4]:lg:text-h4
      [&_h5]:text-section-1-mob
      [&_h5]:lg:text-section-1
      [&_h6]:text-section-2-mob
      [&_h6]:lg:text-section-3
      [&_ul]:list-inside
      [&_ul]:list-disc
      [&_ul]:space-y-2
      [&_ol]:list-inside
      [&_ol]:list-decimal
      [&_ol]:space-y-2
      [&_li]:ml-4
      [&_p]:mb-4
      [&_p]:last:mb-0
      [&_a]:hover:underline
      [&_a]:text-blue-cta
      [&_strong]:font-medium
      [&_em]:italic
      [&_blockquote]:border-l-4
      [&_blockquote]:border-blue-cta
      [&_blockquote]:pl-4
      [&_blockquote]:italic
      [&_blockquote]:my-6
      [&_hr]:border-grey-medium
      [&_hr]:my-8
      [&_table]:border-collapse
      [&_th]:border
      [&_th]:border-grey-medium
      [&_th]:p-2
      [&_th]:lg:p-3
      [&_th]:font-medium
      [&_th]:bg-grey-light
      [&_th]:text-left
      [&_th]:text-xs
      [&_th]:lg:text-base
      [&_th]:whitespace-nowrap
      [&_td]:border
      [&_td]:border-grey-medium
      [&_td]:p-2
      [&_td]:lg:p-3
      [&_td]:text-xs
      [&_td]:lg:text-base
      [&_code]:bg-grey-light
      [&_code]:px-2
      [&_code]:py-1
      [&_code]:rounded
      [&_code]:text-sm
      [&_code]:font-mono
      [&_pre]:bg-grey-light
      [&_pre]:p-4
      [&_pre]:rounded
      [&_pre]:overflow-x-auto
      [&_pre]:my-4
      [&_pre_code]:bg-transparent
      [&_pre_code]:p-0
      p-4 lg:p-8
    ">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.page_content.name",
  "presets": [
    {
      "name": "t:settings_schema.sections.page_content.name"
    }
  ]
}
{% endschema %}
