{% assign s = section.settings %}
<div 
  id="video-with-text-{{ s.id_number }}"
  class="flex flex-col lg:flex-row gap-[30px] lg:gap-[60px] px-[18px] py-[30px] lg:px-[38px] lg:py-[60px] border-y-[1px] lg:border-t-0 border-y-grey-medium"
>
  <div class="lg:w-[81%]">
    {% render 'video', 
      video: s.video_mobile 
      class: 'w-full h-full rounded-image', 
      container_class: 'lg:hidden w-full h-full', 
      muted: true, 
      autoplay: false,
      pb_hack: "146.28%"
      play_layout: "bottom",
      play_size: "large",
      pause_layout: "bottom",
      pause_size: "large",
    %}
    {% render 'video', 
      video: s.video_desktop 
      class: 'w-full h-full rounded-image', 
      container_class: 'hidden lg:block w-full h-full', 
      muted: true, 
      autoplay: false,
      pb_hack: "88.36%",
      play_layout: "bottom",
      play_size: "large",
      pause_layout: "bottom",
      pause_size: "large", 
    %}
  </div>

  <div class="flex flex-col gap-[30px] items-start">
    <div class="flex flex-col gap-[22px]">
      <h2 class="text-h3-mob/10 lg:text-h3/[60px] font-light tracking-[-0.07px] lg:tracking-[-0.11px] {% unless settings.remove_capitalize %}capitalize{% endunless %}">{% render 'blue', text: s.heading %}</h2>
      <h3 class="text-body/[23px] font-light tracking-[-0.032px]">{% render 'blue', text: s.subheading %}</h3>
    </div>
    <a href="{{ s.cta_url }}" class="button-primary-black {% if settings.remove_capitalize %}!normal-case{% endif %}">{{ s.cta_text }}</a>
  </div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.video_with_text.name",
  "tag": "section",
  "settings": [
    {
      "type": "video",
      "id": "video_desktop",
      "label": "t:settings_schema.general.video_desktop"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:settings_schema.general.video_mobile"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings_schema.general.heading",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:settings_schema.general.subheading",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "t:settings_schema.general.cta_text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "t:settings_schema.general.cta_url"
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'video-with-text-#' based on the number chosen below. The default is 'video-with-text-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.sections.video_with_text.name"
    }
  ]
}
{% endschema %}
